body {
	background-color: #DDDDDD;
	text-align: center;
}

h1 {
	color: red;
	font: bold 40px arial,sans-serif;
}

p {
	display: inline-block;
	max-width: 800px;
	margin: 6px;
	padding: 10px;
	font: 25px arial,sans-serif;
	border:2px solid black;
	border-radius: 5px;
}